@import "tailwindcss";

@theme inline {
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-fixed-variant: #4c4542;
  --color-on-surface-variant: #59413a;
  --color-secondary: #8d4d38;
  --color-error: #ba1a1a;
  --color-surface: #fff8f5;
  --color-inverse-surface: #33302d;
  --color-surface-container: #f4ece8;
  --color-surface-tint: #ac3509;
  --color-surface-container-highest: #e9e1dd;
  --color-tertiary-fixed-dim: #cfc4c0;
  --color-primary-fixed-dim: #ffb59f;
  --color-tertiary-container: #a49a96;
  --color-surface-container-high: #eee7e3;
  --color-secondary-container: #fdaa90;
  --color-on-primary-fixed-variant: #852300;
  --color-secondary-fixed-dim: #ffb59e;
  --color-on-error-container: #93000a;
  --color-outline: #8d7169;
  --color-primary-fixed: #ffdbd0;
  --color-on-primary: #ffffff;
  --color-on-tertiary-fixed: #201a18;
  --color-on-tertiary-container: #39322f;
  --color-background: #fff8f5;
  --color-on-secondary-fixed-variant: #713623;
  --color-tertiary: #655d59;
  --color-on-secondary-fixed: #390c01;
  --color-inverse-on-surface: #f7efeb;
  --color-outline-variant: #e0bfb6;
  --color-on-background: #1e1b19;
  --color-surface-dim: #e0d8d5;
  --color-surface-container-low: #faf2ee;
  --color-primary-container: #ff7043;
  --color-on-surface: #1e1b19;
  --color-on-error: #ffffff;
  --color-surface-variant: #e9e1dd;
  --color-primary: #ac3509;
  --color-tertiary-fixed: #ece0db;
  --color-on-primary-fixed: #3a0a00;
  --color-error-container: #ffdad6;
  --color-secondary-fixed: #ffdbd0;
  --color-on-secondary-container: #783c28;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-container: #641800;
  --color-inverse-primary: #ffb59f;
  --color-surface-bright: #fff8f5;
  --color-on-secondary: #ffffff;

  --font-headline: var(--font-plus-jakarta);
  --font-body: var(--font-be-vietnam);
  --font-label: var(--font-be-vietnam);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

h1, h2, h3 {
  font-family: var(--font-headline);
}
